 <div class="user-details">
   <div class="images">
    <h1><img alt="Profile Picture" src="{{ "/assets/img/DSC_0392.JPG" | prepend: site.baseurl }}" style="width:200px;height:200px;"/> <br/> About Me </h1>
  <p> {{site.user_description}} </p>
  </div>
</div>
  <div class="user">
    <div class="tech">
      <h2><img alt="GHC" src="{{ "/assets/img/GHC.jpg" | prepend: site.baseurl }}" style="width:250px;height:250px;"/><br/>On Campus</h2>
      <p>My extracurricular activities include being an active member of <a href="https://activities.osu.edu/involvement/leadership_development/sla/">Student Leadership Advocates</a>, 
       serving as Recruitment Chair and Secretary of <a href="https://u.osu.edu/coeambassadors/">College of Engineering Ambassadors</a>, 
       and a mentor the the Women in Engineering Learning Community.</p>
    </div>
    <div class="tech">
      <h2><img alt="Badlands" src="{{ "/assets/img/badlands.jpg" | prepend: site.baseurl }}" style="width:250px;height:250px;"/><br/>Hobbies</h2>
      <p>In my free time, I enjoy exploring the outdoors, rock climbing, playing music, and watching sitcoms. I'm an avid Ohio State Football fan as well, Go Bucks!</p>
    </div>
</div>
