<div class="user-details">
  <h1> Technical Skills </h1>
</div>
<div class="user-projects">
  <div class="contents">
    <h3> Relevant Skills </h3>
    <ul>
      <li>August 2019 - December 2019</li>
      <li>Performed testing, verification, and validation supporting new product development of surgical devices.</li>
      <li>Contributed to the FMEA of the electronic communication system of the surgical tools.</li>
    </ul>
    <p>Ethicon Endo-Surgery, a subsidiary of Johnson & Johnson, focuses on shaping the future of surgery. Ethicon is partnered with Verb Surgical (from Google Life SCiences) in developing a surgical robotics platform.</p>
    <a class="project-link" href="https://www.newyorker.com/magazine/2019/09/30/paging-dr-robot">Read about Surgical Robotics here</a>
  </div>
</div>
<div class="user-projects">
  <div class="contents-right">
    <h3> CAD Programming and 3D Modeling </h3>
    <ul>
      <li>September 2017 - April 2019</li>
      <li>Presented at the Fall Undergraduate Fall Research Festival on the study of Computational Fludi Dynamic Modeling and fabrication of a bioreactor for tissue engineering scaffolds.</li>
      <li>Received the Undergradaute Research Apprenticeship Program grant for Summer 2018</li>
    </ul>
    <p>The Osteo Engineering Lab in the Department of Plastic Surgery in Ohio State's College of Medicine researches additive manufacturing of biodegradable material for the reconstruction or regeneration of cranioskeletal structures.</p>
    <a class="project-link" href="www.osteoengineering.com">Check out the lab</a>
  </div>
</div>
<div class="user-projects">
  <div class="contents-right">
    <h3> Computer Programming </h3>
    <ul>
      <li>September 2017 - April 2019</li>
      <li>Presented at the Fall Undergraduate Fall Research Festival on the study of Computational Fludi Dynamic Modeling and fabrication of a bioreactor for tissue engineering scaffolds.</li>
      <li>Received the Undergradaute Research Apprenticeship Program grant for Summer 2018</li>
    </ul>
    <p>The Osteo Engineering Lab in the Department of Plastic Surgery in Ohio State's College of Medicine researches additive manufacturing of biodegradable material for the reconstruction or regeneration of cranioskeletal structures.</p>
    <a class="project-link" href="www.osteoengineering.com">Check out the lab</a>
  </div>
</div>
